.container {
    --menu-background: rgb(255, 255, 255);
    --menu-width: 22rem;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1rem;
    list-style: none;
    padding: 1rem;
    box-sizing: border-box;
    background: var(--menu-background);
}

.container_submenu_overlap {
    display: inline-block;
}

.container_submenu_alongside {
    display: inline-flex;
    flex-direction: row;
}

.menu_level {
    width: var(--menu-width);
}

.menu_item {
    padding: 0.5rem 0;
}