/* Under construction. Пока можно не проверять */

@media (prefers-color-scheme: dark) {
  .header_level_bottom {
    background-color: #1F2023;
    color: #dadada;
  }
}

.header_fixed_always {
  position: fixed;
  width: 100%;
}
.header_with_shadow {
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  box-shadow: 0px 1px 17px rgb(0 0 0 / 9%);
}

.header__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0.5rem;
  margin: 0 auto;
}

.header_level_bottom {
  display: table;
  width: 100%;
  table-layout: fixed;
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
  margin: 0 1rem;
  color: black;
  background-color: white;
}

.svg {
  margin-right: 0.3rem;
  width: 2rem;
  height: 2rem;
}
