.wrapper {
  display: flex;
  align-items: flex-start;
}

.wrapper > *:not(:first-child) {
  margin-left: 15rem;
}

.amount {
  display: flex;
  flex-flow: column;
}

.amount > * {
  margin: 1rem 0;
}
