.wrapper {
  display: flex;
  align-items: flex-start;
}

.wrapper > *:not(:first-child) {
  margin-left: 150px;
}

.amount {
  display: flex;
  flex-flow: column;
}

.amount > * {
  margin: 10px 0;
}
