.notes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height:100%
}

.title {
  margin-left: 1.5rem
}

.input {
  background-color: rgb(229, 231, 235);
  border-color: rgb(209, 213, 219);
  border-width: 2px;
  outline: none;
  padding: 0.5rem 1rem;
  color: #1f2937;
}
.input:focus {
  background-color: darkgrey;
}
