.link_container {
  margin: 0 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: 500;
}

.svg {
  margin-right: 0.3rem;
  width: 2.3rem;
  height: 2.3rem;
}

.accent {
  color: var(--red);
}

.highlight {
  color: var(--darkgreen);
}
