.link_container {
  margin: 0 0.3rem;
<<<<<<< HEAD
  padding: 0.2rem;
=======
>>>>>>> 5980e4d41c62aeec849df9d141435f6e3c0da320
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-weight: 500;
}

.svg {
  margin-right: 0.3rem;
  width: 2.3rem;
  height: 2.3rem;
}

.accent {
  color: var(--red);
}

.highlight {
  color: var(--darkgreen);
<<<<<<< HEAD
}
=======
}
>>>>>>> 5980e4d41c62aeec849df9d141435f6e3c0da320
